@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/intro";
@import "./layout/working";
@import "./layout/restaurant";
@import "./layout/menu";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

/*
@import "./pages/..";
*/
.bloc_page{
    max-width: 1000px;    
    @include flex_dlc(column,center,space-around);    
    margin:auto;
}

main{
    width:100%;
}

a{
    text-decoration: none;
}

img{
    height:100px;
    width:100px;
}

.svg-inline--fa{
    width: 1rem;
    height: 1rem;
}