@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/intro";
@import "./layout/working";
@import "./layout/restaurant";
@import "./layout/menu";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

/*
@import "./pages/..";
*/
.bloc_page {
  width: 100%;
  @include flex_dlc(column, center, space-around);
  margin: auto;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .bloc_page {
    width: 100%;
  }
}

@media screen and (min-width: 991px) {
  .bloc_page {
    width: 80%;
  }
}
