@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

/*
@import "./pages/..";
*/
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    height:100px;
    width:100px;
}

.svg-inline--fa{
    width: 30px;
    height: 30px;
}