.footer{    
    background-color:$grey-1;
    width: 100%;
    & ul{
    list-style: none;
    }
    &_title{
        margin:1rem 0 1rem 0;
    }
    &_element{
        margin:0.5rem 0 0.5rem 0;
        &_bold a{
            @include flex_dlc(row,center,flex-start);            
            & svg{
                padding: 0 0.5rem 0 0;
            }
        }
    }
    
}