.restaurant_container-2 {
  @include flex_dlc(column, center, space-around);
  width: 100%;
  &_img {
    width: 100%;
    & img {
      object-fit: cover;
      width: 100%;
      height: 15rem;
    }
  }
  &_menu {
    @include flex_dlc(column, flex-start, space-around);
    background-color: $grey-3;
    width: 100%;
    margin: -3rem 0 0 0;
    border-radius: 2rem 2rem 0 0;
  }
}

.menu_title {
  @include flex_dlc(row, center, space-around);
  width: 100%;
  background-color: $grey-3;
  border-style: none;
  border-radius: 2rem 2rem 0 0;
  &_heart {
    @include flex_dlc(row, center, center);
    & svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
    & .fa-empty {
      fill: $grey-1;
    }
    & .fa-solid {
      fill: $color-1;
      opacity: 0;
      margin: 0 0 0 -1.5rem;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.menu {
  width: 100%;
  &_container {
    width: 100%;
    &_title {
      & h2 {
        margin: 1rem 1rem 1rem 1rem;
      }
      &_underline {
        width: 3.5rem;
        height: 0.25rem;
        margin: -0.5rem 0 0 1rem;
        background-color: $color-3;
      }
    }
    &_choice {
      @include flex_dlc(column, center, space-around);
      width: 100%;
    }
  }
}

.choice {
  @include flex_dlc(row, center, space-around);
  @include border_button;
  background-color: white;
  width: 90%;
  max-width: 25rem;
  height: 5rem;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  overflow: hidden;
  &_description {
    display: block;
    width: 80%;
    height: 5rem;
    & h3,
    p {
      margin: 0.75rem 1rem 0.5rem 1.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &_price {
    @include flex_dlc(column, flex-start, flex-end);
    width: 20%;
    height: 5rem;
    & p {
      margin: 0 2rem 1rem 0;
      white-space: nowrap;
    }
  }
  &_validation {
    @include flex_dlc(row, center, center);

    background-color: $color-3;
    width: 0%;
    height: 5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    & svg {
      fill: white;
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(-360deg);
      transition: transform 500ms ease-in-out;
    }
  }
  &:hover {
    box-shadow: 0.1em 0.1em 0.2em $grey-1;
    & .choice {
      &_description {
        width: 70%;
        transition: width 500ms ease-in-out;
      }
      &_price {
        width: 15%;
        transition: width 500ms ease-in-out;
      }
      &_validation {
        width: 15%;
        transition: width 500ms ease-in-out;
        transform: translateX(0%);
        & svg {
          transform: rotate(0deg);
        }
      }
    }
  }
  &--1{
    opacity: 1;
    transform:translateY(0rem);
    animation: menu-appearance 1000ms 100ms both;
  }
  &--2{
    opacity: 1;
    transform:translateY(0rem);
    animation: menu-appearance 1000ms 400ms both;
  }
  &--3{
    opacity: 1;
    transform:translateY(0rem);
    animation: menu-appearance 1000ms 700ms both;
  }
  &--4{
    opacity: 1;
    transform:translateY(0rem);
    animation: menu-appearance 1000ms 1000ms both;
  }
}

@keyframes menu-appearance {
  0% {
    opacity: 0;
    transform: translateY(1.2rem);
  }
  33%{
    opacity: 0;
    /*transform: translateY(0.8rem);*/
  }
  66%{
    opacity: 0.5;
    /*transform: translateY(0.4rem);*/
  }
  100% {
    opacity:1;
    transform: translateY(0rem);
  }
}

.menu_button {
  @include flex_dlc(row, center, center);
  width: 100%;

  & button {
    cursor: pointer;
    @include border_button;
    background: linear-gradient($color-2, $color-1);
    width: 60%;
    max-width: 15rem;
    height: 3rem;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    &:hover {
      box-shadow: 0.1em 0.1em 0.2em black;
      background: $color-2;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu_title {
    @include flex_dlc(row, center, space-between);
    &_h1 {
      margin: 1rem 2rem 1rem 2rem;
      & h1 {
        font-size: 2rem;
      }
    }
    &_heart {
      margin: 1rem 2rem 1rem 2rem;
    }
  }

  .menu {
    @include flex_dlc(row, flex-start, space-between);
    &_container {
      width: 33%;
    }
  }

  .choice {
    width: 95%;
  }
}
