.restaurant_container{
    @include flex_dlc(column,none,none);
    background-color: $grey-3;
    &_title h1{
        margin:3rem 0 1rem 1rem;
    }
    &_card{
        @include flex_dlc(column,center,space-around);        
        margin:0 0 3rem 0;
        & a:hover{
            .card_container{
                box-shadow: 0.1em 0.1em 0.2em black;
            }
        }
    }
}

.card_container{
    @include flex_dlc(column,none,none);
    @include border_button;
    background-color: white;
    margin:1rem 0 1rem 0;
    z-index: 1;
    &_img{        
        & img{
            object-fit: cover;
            width: 18rem;
            height:10rem;
            border-radius: 1.5rem 1.5rem 0 0 ;
        }
    }
    &_description{
        @include flex_dlc(row,center,space-between);
        margin: 0.5rem 1rem 1rem 1rem ;
        &_title{
            margin:none;
            & h2{
                margin:0 0 0.5rem 0;
                font-size: 1.2rem;
            }
            & p{
                margin:0.5rem 0 0 0;
                font-size: 1em;
            }
        }
        &_heart{
            & svg{
                fill:$grey-1;
                width:1.5rem;
                height: 1.5rem;
            }
        }
        
    }    
}

.new{
    background-color: green;    
    position: absolute;
    z-index: 2;   
    width:4.5rem;
    height: 1.5rem;
    border-radius: .25rem  .25rem  .25rem  .25rem;
    margin:1rem 1rem 0 12rem ;
    
    & p{
        @include flex_dlc(column,flex-start,center);
        margin:.2rem .2rem .2rem .2rem;      
    }    
}